<article class="property-mini-summary">
  <button
    type="button"
    class="property-mini-summary-close"
    aria-label="Close property summary"
    (click)="onCloseClick()"
  >
    <span class="material-symbols-outlined">close</span>
  </button>

  <app-property-mini-image-carousel
    class="property-mini-summary-carousel"
    [imageUrls]="property.imageUrls"
    [selectedLanguage]="selectedLanguage"
  ></app-property-mini-image-carousel>

  <section class="property-mini-summary-content">
    <h4 class="property-mini-summary-title">{{ property.title }}</h4>
    <p class="property-mini-summary-price">
      <strong>{{ property.price }} € / {{ t('PROPERTY_MINI_SUMMARY_MONTH_UNIT') }}</strong>
    </p>
    <button type="button" class="property-mini-summary-review {{ getReviewClass() }}">
      <span class="material-symbols-outlined">{{ getReviewIcon() }}</span>
      <span>{{ getReviewText() }}</span>
    </button>
  </section>
</article>
