node_modules/
dist/
build/
out/
coverage/
*.log
output/logs/*
propertyDetailIdealistaScraper/output/images/
idealistaPropertyScraper/output/images/
.env
.env.*
.DS_Store
.idea/
.vscode/

# Secrets in secrets.json are not pushed. Refer to secrets-example.json
secrets.json
