apiVersion: v1
kind: PersistentVolume
metadata:
  name: idealista-property-images-pv
spec:
  storageClassName: ""
  capacity:
    storage: 50Gi
  accessModes:
  - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
  - nfsvers=4.1
  nfs:
    server: ${NFS_SERVER}
    path: ${NFS_SHARED_FOLDER}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: idealista-property-images-pvc
  namespace: real-state-fizgon
spec:
  storageClassName: ""
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
  volumeName: idealista-property-images-pv

