apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: real-state-fizgon
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
    - job_name: notification-message-sender
      static_configs:
      - targets: ['notification-message-sender.real-state-fizgon.svc.cluster.local:9464']
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: real-state-fizgon
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
      - name: prometheus
        image: prom/prometheus:v2.54.1
        args:
        - --config.file=/etc/prometheus/prometheus.yml
        - --web.config.file=/etc/prometheus/web.yml
        ports:
        - containerPort: 9090
        volumeMounts:
        - name: prometheus-config
          mountPath: /etc/prometheus/prometheus.yml
          subPath: prometheus.yml
        - name: prometheus-web
          mountPath: /etc/prometheus/web.yml
          subPath: web.yml
      volumes:
      - name: prometheus-config
        configMap:
          name: prometheus-config
      - name: prometheus-web
        secret:
          secretName: prometheus-web-config
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: real-state-fizgon
spec:
  selector:
    app: prometheus
  ports:
  - port: 9090
    targetPort: 9090
